@import "../settings/_colors.css";

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  background: linear-gradient(
    180deg,
    var(--background-gradient1) 0%,
    var(--background-gradient2) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}
