@font-face {
  font-family: "Kumbh Sans Bold", sans-serif;
  src: url(../../fonts/KumbhSans-Bold.ttf);
}

@font-face {
  font-family: "Kumbh Sans Regular", sans-serif;
  src: url(../../fonts/KumbhSans-Regular.ttf);
}
